// Colors
// --------------------------------------------------
$header_primary: #fff;
$header_primary-dark: #27272a;

$primary-very-low: #fafafa;
$primary-low: #e4e4e7;
$primary-low-mid: #d4d4d8;
$primary-medium: #a1a1aa;
$primary-high: #52525b;
$primary-very-high: #27272a;

$secondary-low: #3f3f46;
$secondary-medium: #71717a;
$secondary-high: #a1a1aa;
$secondary-very-high: #e4e4e7;

$quaternary-low: #ccfbf1;

$highlight-low: #ccfbf1;
$highlight-medium: #99f6e4;
$highlight-high: #2dd4bf;

$danger-low: #fecaca;
$danger-low-mid: #fca5a5;
$danger-medium: #f87171;

$notice: #134e4a;
$notice-low: #ccfbf1;

$notice-mod: #713f12;
$notice-mod-low: #fef08a;

// Colors Vars
// --------------------------------------------------
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --quaternary: #{$quaternary};
  --header_background: dark-light-choose($header_primary, $header_primary-dark);
  --header_primary: #{$header_primary};
  --highlight: #{$highlight};
  --danger: #{$danger};
  --success: #{$success};
  --love: #{$love};

  --always-black-rgb: 0, 0, 0;
  --primary-rgb: #{hexToRGB($primary)};
  --primary-low-rgb: #{hexToRGB($primary-low)};
  --secondary-rgb: #{hexToRGB($secondary)};
  --header_background-rgb: #{hexToRGB($header_background)};
  --tertiary-rgb: #{hexToRGB($tertiary)};

  --primary-very-low: #{$primary-very-low};
  --primary-low: #{$primary-low};
  --primary-low-mid: #{$primary-low-mid};
  --primary-medium: #{$primary-medium};
  --primary-high: #{$primary-high};
  --primary-very-high: #{$primary-very-high};

  --header_primary-low: #{$header_primary-low};
  --header_primary-low-mid: #{$header_primary-low-mid};
  --header_primary-medium: #{$header_primary-medium};
  --header_primary-high: #{$header_primary-high};
  --header_primary-very-high: #{$header_primary-very-high};

  --secondary-low: #{$secondary-low};
  --secondary-medium: #{$secondary-medium};
  --secondary-high: #{$secondary-high};
  --secondary-very-high: #{$secondary-very-high};

  --tertiary-low: #{$tertiary-low};
  --tertiary-medium: #{$tertiary-medium};
  --tertiary-high: #{$tertiary-high};
  --tertiary-hover: #{$tertiary-hover};

  --quaternary-low: #{$quaternary-low};

  --highlight-low: #{$highlight-low};
  --highlight-medium: #{$highlight-medium};
  --highlight-high: #{$highlight-high};

  --danger-low: #{$danger-low};
  --danger-low-mid: #{$danger-low-mid};
  --danger-medium: #{$danger-medium};
  --danger-hover: #{$danger-hover};

  --success-low: #{$success-low};
  --success-medium: #{$success-medium};
  --success-hover: #{$success-hover};

  --love-low: #{$love-low};

  --notice: #{$notice};
  --notice-low: #{$notice-low};

  --notice-mod: #{$notice-mod};
  --notice-mod-low: #{$notice-mod-low};
}
