@import "colors";

// Common
// --------------------------------------------------
$border-radius: 0.25rem;

// Body
// --------------------------------------------------
$body-bg: #fafafa;
$body-bg-dark: #18181b;

// Header
// --------------------------------------------------
$header-logo-size: 2.5rem;
$header-icon-size: 1.5rem;
$header-avatar-size: 2rem;

// Colors
// --------------------------------------------------
$primary-very-low: #fafafa;
$primary-low: #e4e4e7;
$primary-low-mid: #d4d4d8;
$primary-medium: #a1a1aa;
$primary-high: #52525b;
$primary-very-high: #27272a;

$secondary-low: #3f3f46;
$secondary-medium: #71717a;
$secondary-high: #a1a1aa;
$secondary-very-high: #e4e4e7;

$quaternary-low: #ccfbf1;

$highlight-low: #ccfbf1;
$highlight-medium: #99f6e4;
$highlight-high: #2dd4bf;

$danger-low: #fecaca;
$danger-low-mid: #fca5a5;
$danger-medium: #f87171;

$notice: #134e4a;
$notice-low: #ccfbf1;

$notice-mod: #713f12;
$notice-mod-low: #fef08a;
