@import "colors";

// Common
// --------------------------------------------------
$border-radius: 0.25rem;

// Body
// --------------------------------------------------
$body-bg: #fafafa;
$body-bg-dark: #18181b;

$header-bgc-dark: #f0f;

// Header
// --------------------------------------------------
$header-logo-size: 2.5rem;
$header-icon-size: 1.5rem;
$header-avatar-size: 2rem;
