.nav-pills {
  a {
    @include btn;

    &:hover {
      background: var(--primary-low) !important;
      color: var(--primary) !important;
    }

    &.active {
      background-color: var(--quaternary) !important;
      color: var(--secondary) !important;
      font-weight: 600;
    }
  }
}
