.topic-post {
  @include box;
  margin-bottom: 0.5rem;
  padding: 1rem;

  .topic-avatar,
  .topic-body {
    border-top: none !important;
  }

  .topic-meta-data,
  .post-menu-area {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .post-actions {
    margin-bottom: 0;
  }

  .topic-map {
    border-radius: 4px;
    border: 1px solid var(--primary-low) !important;
    overflow: hidden;

    .map {
      border-top: 1px solid var(--primary-low);

      &:first-of-type {
        border-top: none;
      }
    }
  }
}
