.topic-post {
  @include box;
  margin-bottom: 0.5rem;
  padding: 1rem;

  &.moderator .regular > .cooked {
    background-color: var(--notice-mod-low);
    border-radius: $border-radius;
    color: var(--primary);
    font-weight: 600;
    padding: 1rem;
  }

  .topic-avatar,
  .topic-body {
    border-top: none !important;
  }

  .topic-meta-data,
  .post-menu-area {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .post-controls .actions button {
    border-radius: $border-radius;
  }

  .double-button .button-count:not(.my-likes) {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .double-button .button-count + .toggle-like {
    border-radius: 0 $border-radius $border-radius 0;
  }

  .post-actions {
    margin-bottom: 0;
  }

  .topic-map {
    border-radius: $border-radius;
    border: 1px solid var(--primary-low) !important;
    margin-bottom: 0;
    overflow: hidden;

    .map {
      border-top: 1px solid var(--primary-low);

      &:first-of-type {
        border-top: none;
      }
    }
  }
}

.small-action {
  border-top: none;
}
