$primary-very-low--dark: #fafafa;
$primary-low--dark: #e4e4e7;
$primary-low-mid--dark: #d4d4d8;
$primary-medium--dark: #a1a1aa;
$primary-high--dark: #52525b;
$primary-very-high--dark: #27272a;

$secondary-low--dark: #3f3f46;
$secondary-medium--dark: #71717a;
$secondary-high--dark: #a1a1aa;
$secondary-very-high--dark: #e4e4e7;

$quaternary-low--dark: #ccfbf1;

$highlight-low--dark: #ccfbf1;
$highlight-medium--dark: #99f6e4;
$highlight-high--dark: #2dd4bf;

$danger-low--dark: #fee2e2;
$danger-low-mid--dark: #fecaca;
$danger-medium--dark: #fca5a5;

$notice--dark: #0f766e;
$notice-low--dark: #ccfbf1;

$notice-mod--dark: #713f12;
$notice-mod-low--dark: #fef08a;
